.adbanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 350px;
  color: white;
}

.title {
  color: #da7635;
  font-weight: bolder;
  padding: 35px;
}

.description {
  text-align: center;
  margin-bottom: 25px;
}
